{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block styling %}
          <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endblock styling %}

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Simple VSN Search</h1>
                <nav>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                      <h3 class="flash-errors">{{ errors }}</h3>
                    </header>

                    <section>
                        <form method="get" action="/search/" class="navbar-form pull-right">
                          <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
                          <input type="submit" class="btn" value="Search" >
                        </form>

                        {% if vehicles|length > 0 %}
                          <p>Results (lowest wildcards first): </p>
                          {% for vehicle in vehicles  %}
                            <p>{{ vehicle }}</p>
                          {% endfor %}
                        {% else %}
                          {% if searched %}
                            <p>No Results</p>
                          {% endif %}
                        {% endif %}
                    </section>

                </article>

                <aside>
                    <h3>Ads Go Here</h3>
                    <p>Hey web developers gotta get paid too you know?  Please click on all of these advertisements so I have money for beer.</p>

                    <a href="http://stefanlyew.com/">Check out this awesome blog for fun and profit! $$$</a>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
